body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  // color: $primary-text-color;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.list {
  list-style: none;
  // padding: 0;
  // margin: 0;
}
.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  cursor: pointer;
}
