@charset "UTF-8";
:root {
  --header-text-color: #ffffff;
  --bg-color: #ffffff;
  --hero-primary-text-color: #000000;
  --hero-warning-text-color: #ff001b;
  --hero-underline-color: #ff6b08;
  --hero-secondary-text-color: #ff6b08;
  --hero-primary-button-color: #ff6b08;
  --hero-secondary-button-color: #f7f7f7;
  --footer-primary-text-color: #545454;
  --modal-button-color: #ff6b01;
  --modal-secondary-text-color: #8c8c8c;
  --search-switcher-active-color: #ff6b08;
  --lt-theme-bg-color: #ffffff;
  --dk-theme-bg-color: #000000e6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  cursor: pointer;
}

.header-bg {
  display: block;
  margin: 0 auto;
  background-image: url(../images/header_main/abstract-background-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-bg {
    background-image: url(../images/header_main/abstract-background-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .header-bg {
    background-image: url(../images/header_main/abstract-background-tab-1x.jpg);
    height: 216px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: url(../images/header_main/abstract-background-tab-2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .header-bg {
    background-image: url(../images/header_main/abstract-background-1x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-bg {
    background-image: url(../images/header_main/abstract-background-2x.jpg);
  }
}

.header__sections {
  padding-top: 44px;
}

@media screen and (min-width: 768px) {
  .header__sections {
    padding-top: 49px;
  }
}

.logo {
  position: absolute;
  top: 34px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.logo-disable,
.logo__title--disable {
  pointer-events: none;
  cursor: none;
}

.logo__icon {
  margin-right: 10px;
  fill: inherit;
}

.logo__title {
  color: var(--header-text-color);
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 1.16;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .logo__title {
    display: none;
  }
}

.site-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .site-list {
    margin-bottom: 53px;
  }
}

.site-list__item:not(:last-child) {
  margin-right: 40px;
}

.site-list__link {
  text-decoration: none;
  color: var(--header-text-color);
}

.current {
  position: relative;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  bottom: -3px;
  background-color: var(--hero-warning-text-color);
}

.search-form {
  position: relative;
  text-align: center;
}

.search-form__field {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-align: center;
  border: transparent;
  border-bottom: 0.5px solid var(--header-text-color);
  background-color: transparent;
  color: var(--header-text-color);
  -webkit-transition: border-bottom 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-bottom 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__field::-webkit-input-placeholder {
  color: var(--header-text-color);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__field:-ms-input-placeholder {
  color: var(--header-text-color);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__field::-ms-input-placeholder {
  color: var(--header-text-color);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__field::placeholder {
  color: var(--header-text-color);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__field:focus {
  outline: none;
  border-bottom: 0.5px solid var(--hero-secondary-text-color);
}

.search-form__field:focus::-webkit-input-placeholder {
  color: var(--hero-secondary-text-color);
}

.search-form__field:focus:-ms-input-placeholder {
  color: var(--hero-secondary-text-color);
}

.search-form__field:focus::-ms-input-placeholder {
  color: var(--hero-secondary-text-color);
}

.search-form__field:focus::placeholder {
  color: var(--hero-secondary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .search-form__field {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form__field {
    width: 394px;
  }
}

.search-btn {
  position: absolute;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: transparent;
  color: var(--header-text-color);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.search-form__field:focus ~ .search-btn {
  color: var(--hero-secondary-text-color);
}

@media screen and (min-width: 320px) {
  .search-btn {
    top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .search-btn {
    right: 163px;
    top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .search-btn {
    right: 392px;
    top: 0;
  }
}

.search-form__switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 21px;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) {
  .search-form__switch {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    right: 125px;
  }
}

@media screen and (min-width: 768px) {
  .search-form__switch {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .search-form__switch {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Hide default HTML checkbox */
.search-form__switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-form__switch input:checked + .slider {
  background-color: var(--search-switcher-active-color);
}

.search-form__switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px var(--search-switcher-active-color);
          box-shadow: 0 0 1px var(--search-switcher-active-color);
}

.search-form__switch input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-form__external-source {
  position: absolute;
  background-color: transparent;
  color: orange;
  border: none;
  outline: none;
}

@media screen and (min-width: 320px) {
  .search-form__external-source {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    bottom: 30px;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) {
  .search-form__external-source {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    bottom: 10px;
    right: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form__external-source {
    -webkit-transform: scale(1);
            transform: scale(1);
    right: 275px;
    bottom: 10px;
  }
}

.search-form__external-source .search-form__external-source--option {
  background-color: rgba(255, 255, 255, 0.4);
  color: var(--hero-primary-text-color);
}

@media screen and (min-width: 320px) {
  .search-form__external-source .search-form__external-source--option {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .search-form__external-source .search-form__external-source--option {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form__external-source .search-form__external-source--option {
    font-size: 15px;
  }
}

.header-warn {
  position: absolute;
  top: 170px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-align: center;
  color: var(--hero-warning-text-color);
}

@media screen and (max-width: 767px) {
  .header-warn {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .header-warn {
    width: 704px;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .header-warn {
    width: 1216px;
    text-align: center;
  }
}

.js-search-res {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.lib-bg {
  display: block;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_mylib/lib-1x-mob.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_mylib/lib-1x-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 230px;
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .lib-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_mylib/lib-2x-mob.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_mylib/lib-2x-mob.jpg);
  }
}

@media screen and (min-width: 768px) {
  .lib-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_mylib/lib-1x-tab.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_mylib/lib-1x-tab.jpg);
    height: 216px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .lib-bg {
    background-image: url(../images/header_mylib/lib-2x-tab.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .lib-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_mylib/lib-1x-desk.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_mylib/lib-1x-desk.jpg);
    height: 216px;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .lib-bg {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_mylib/lib-2x-desk.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_mylib/lib-2x-desk.jpg);
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.button_lib {
  width: 130px;
  height: 44px;
  -webkit-box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
          box-shadow: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid var(--header-text-color);
  outline: none;
  color: var(--header-text-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button_lib:focus, .button_lib:hover {
  background-color: var(--hero-secondary-text-color);
  border-color: var(--hero-secondary-text-color);
}

@media screen and (min-width: 768px) {
  .button_lib {
    width: 150px;
  }
}

.button_lib:not(:last-child) {
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .button_lib:not(:last-child) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .button_lib:not(:last-child) {
    margin-right: 16px;
  }
}

.active-btn {
  background-color: var(--hero-secondary-text-color);
  border-color: var(--hero-secondary-text-color);
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
  grid-gap: 20px;
  padding: 20px 20px 40px;
  min-height: calc(100vh - 332px);
}

@media screen and (min-width: 768px) {
  .gallery {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    padding: 60px 32px;
    min-height: calc(100vh - 295px);
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

.movie-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.movie-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.movie-card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

@media screen and (min-width: 768px) {
  .movie-card__image {
    height: 455px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__image {
    height: 574px;
  }
}

.movie-card__image:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.movie-card__title {
  color: #000;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: calc(16 / 12);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .movie-card__title {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card__title {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 500;
    line-height: calc(24 / 20);
  }
}

.movie-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
}

@media screen and (min-width: 768px) {
  .movie-card__wrapper {
    font-size: 10px;
  }
}

.movie-card__info {
  color: #FF6B08;
  font-size: 12px;
  text-transform: none;
  font-weight: 500;
  margin-top: 0;
}

@media screen and (min-width: 1280px) {
  .movie-card__info {
    font-size: 16px;
  }
}

.movie-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card__rating-icon {
  width: 12px;
  height: 12px;
  background-image: url(/src/images/svg/star.svg);
  background-size: contain;
}

@media screen and (min-width: 1280px) {
  .movie-card__rating-icon {
    width: 16px;
    height: 16px;
  }
}

.movie-card__rating-number {
  color: #FF6B08;
  font-size: 12px;
  font-weight: 500;
  padding: 0 8px;
  border-radius: 5px;
}

@media screen and (min-width: 1280px) {
  .movie-card__rating-number {
    font-size: 16px;
  }
}

.warning__no-results {
  width: 200px;
  opacity: 0.7;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .pagination__list {
    margin-top: 30px;
  }
}

.pagination__prev-btn,
.pagination__next-btn {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  background-color: #f7f7f7;
  border-radius: 5px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.pagination__prev-btn:hover,
.pagination__next-btn:hover {
  background-color: #FF6B08;
  color: #fff;
}

.pagination__prev-btn:active,
.pagination__next-btn:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.pagination__prev-btn > *, .pagination__next-btn > * {
  pointer-events: none;
}

.pagination__icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
}

.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.pagination__item:first-child {
  margin-left: 0;
}

.pagination__item:last-child {
  margin-right: 0;
}

.pg-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 8px;
  color: #fff;
  background-color: #FF6B08;
  border-radius: 5px;
  pointer-events: none;
}

.pg-inactive {
  color: #fff;
  pointer-events: none;
}

.pg-inactive:active {
  color: #fff;
  background-color: #f7f7f7;
}

.body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.team__modal {
  display: inline-block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  font-family: 'Roboto';
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 767px) {
  .team__modal {
    min-height: 100%;
  }
}

@media (min-width: 320px) {
  .team__modal {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .team__modal {
    width: 700px;
  }
}

@media (min-width: 1280px) {
  .team__modal {
    width: 800px;
  }
}

.team__title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1.25;
  text-align: center;
}

@media (min-width: 768px) {
  .team__title {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .team__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

.team__item {
  /* margin-top: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (max-width: 767px) {
  .team__item {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 20px) / 3);
        flex-basis: calc((100% - 20px) / 3);
  }
}

.team__card {
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 2px solid #ff6b08;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.team__member {
  margin-right: 4px;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .team__member {
    font-size: 16px;
  }
}

.sociallinks__icon {
  fill: #000000;
}

.sociallinks__icon:hover,
.sociallinks__icon:focus {
  fill: #ff6b01;
}

.team__position {
  color: #545454;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1.66;
  text-align: center;
  margin-top: 5px;
}

.button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
}

.button:hover .icon {
  fill: #FF6B01;
}

.button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media (max-width: 767px) {
  .button {
    width: 20px;
    height: 20px;
  }
}

.icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  fill: #717171;
}

.footer {
  background-color: #f7f7f7;
  color: #545454;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.19;
    text-align: center;
  }
}

.footer__container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) {
  .footer__container {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1280px) {
  .footer__container {
    width: 1280px;
  }
}

@media (max-width: 767px) {
  .footer__text {
    margin-bottom: 9.9px;
  }
}

@media (min-width: 768px) {
  .footer__text {
    margin-right: 4px;
  }
}

.footer__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  -webkit-animation-name: beat;
          animation-name: beat;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (min-width: 768px) {
  .footer__icon {
    height: 12.88;
  }
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.footer__link {
  display: inline-block;
  color: #545454;
}

.footer__link:hover {
  color: #ff6b01;
}

.modal-auth__btn-open {
  position: absolute;
  right: 34px;
  top: 80px;
  font-family: Roboto;
  color: var(--header-text-color);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.33px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 0 3px;
}

@media screen and (max-width: 768px) {
  .modal-auth__btn-open {
    right: 20px;
  }
}

.is-hidden-auth {
  display: none;
}

.modal-auth {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  /* цвет фона */
  z-index: 1050;
  opacity: 0;
  /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 30, 48, 0.9)), to(rgba(36, 59, 85, 0.9)));
  background: linear-gradient(rgba(20, 30, 48, 0.9), rgba(36, 59, 85, 0.9));
  text-align: center;
}

.modal-auth.modal-open {
  opacity: 1;
  /* делаем окно видимым */
  pointer-events: auto;
  /* элемент видим для событий мыши */
  overflow-y: auto;
  /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.modal-auth__login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 290px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #2b3a4b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .modal-auth__login-box {
    width: 500px;
  }
}

.modal-auth__title {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.modal-auth__email, .modal-auth__password {
  position: relative;
}

.modal-auth__input-email, .modal-auth__input-password {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  -webkit-transition: border 250ms linear;
  transition: border 250ms linear;
}

.modal-auth__input-email:focus, .modal-auth__input-password:focus {
  border-bottom: 1px solid #ff6b01;
}

.modal-auth__input-email:focus ~ label, .modal-auth__input-password:focus ~ label {
  color: #ff6b01;
}

.modal-auth__label-email, .modal-auth__label-password {
  position: absolute;
  top: -30px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.modal-auth__btn.is-hidden-auth {
  display: none;
}

.modal-auth__btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 4px;
  background-color: transparent;
  outline: none;
  border: 0;
  margin-top: 40px;
}

.modal-auth__form button:hover, .modal-auth__form button:focus {
  background: #ff6b01;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ff6b01, 0 0 25px #ff6b01, 0 0 50px #ff6b01, 0 0 100px #ff6b01;
          box-shadow: 0 0 5px #ff6b01, 0 0 25px #ff6b01, 0 0 50px #ff6b01, 0 0 100px #ff6b01;
}

.modal-auth__btn span {
  position: absolute;
  display: block;
}

.modal-auth__btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ff6b01));
  background: linear-gradient(90deg, transparent, #ff6b01);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

.modal-auth__btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff6b01));
  background: linear-gradient(180deg, transparent, #ff6b01);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.modal-auth__btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#ff6b01));
  background: linear-gradient(270deg, transparent, #ff6b01);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

.modal-auth__btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#ff6b01));
  background: linear-gradient(360deg, transparent, #ff6b01);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

.modal-auth__close {
  position: absolute;
  top: 15;
  right: 15;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.modal-auth__close:focus, .modal-auth__close:hover {
  color: #ff6b01;
  text-decoration: none;
  cursor: pointer;
}

.modal-auth__info {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.modal-auth__forgot {
  color: grey;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  display: block;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.modal-auth__forgot:hover, .modal-auth__forgot:focus {
  color: #ff6b01;
}

a.is-hidden-auth {
  display: none;
}

body.lt-theme {
  background-color: var(--lt-theme-bg-color);
  color: var(--dk-theme-bg-color);
}

body.dk-theme {
  background-color: var(--dk-theme-bg-color);
  color: var(--lt-theme-bg-color);
}

.switcher {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  right: 10px;
  top: 200px;
}

@media screen and (min-width: 768px) {
  .switcher {
    right: 25px;
    top: 170px;
  }
}

body.dk-theme .footer {
  background-color: var(--footer-primary-text-color);
  color: var(--lt-theme-bg-color);
}

body.dk-theme .footer__link {
  background-color: var(--footer-primary-text-color);
  color: #ff9100;
}

body.dk-theme .footer__link:hover {
  font-weight: bold;
}

body.dk-theme .modal-film {
  background-color: var(--dk-theme-bg-color);
  color: var(--lt-theme-bg-color);
}

body.dk-theme .icon-close {
  stroke: var(--lt-theme-bg-color);
}

body.dk-theme .modal-film_parameter {
  color: var(--lt-theme-bg-color);
}

body.dk-theme #modal_rating-grey {
  color: var(--hero-secondary-text-color);
}

body.dk-theme .team__modal {
  background-color: #a7a7a78a;
  color: var(--lt-theme-bg-color);
}

body.dk-theme .team__item {
  background-color: #000000;
  color: var(--lt-theme-bg-color);
  border: 1px solid var(--bg-color);
}

body.dk-theme .sociallinks__icon {
  fill: #ffffff;
}

body.dk-theme .sociallinks__icon:hover,
body.dk-theme .sociallinks__icon:focus {
  fill: #ff6b01;
}

body.dk-theme .team__position {
  color: var(--header-text-color);
}

body.dk-theme .icon {
  fill: var(--lt-theme-bg-color);
}

body.dk-theme .movie-card__title {
  color: var(--bg-color);
}

body.dk-theme .pagination__prev-btn,
body.dk-theme .pagination__next-btn {
  background-color: #a7a7a78a;
  color: var(--bg-color);
}

body.dk-theme .pagination__prev-btn:hover,
body.dk-theme .pagination__next-btn:hover {
  background-color: #ff6b08;
}

body.dk-theme .js-scrollBtn {
  background-color: transparent;
  color: var(--hero-primary-button-color);
}

body.dk-theme .js-scrollBtn:hover {
  background-color: transparent;
  color: var(--bg-color);
}

.th-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.th-switch__icon {
  color: currentColor;
  height: 20px;
  width: 15px;
  margin-right: 8px;
  margin-left: 8px;
}

.th-switch__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 49px;
  height: 15px;
  border-radius: 50em;
  padding: 3px 0;
}

.th-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.th-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--bg-color);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.th-switch__marker {
  position: relative;
  background-color: var(--hero-warning-text-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.th-switch__toggle:checked ~ .th-switch__marker {
  -webkit-transform: translateX(35px);
          transform: translateX(35px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ring {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #ff6b08;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #ff6b08;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 2500ms ease;
  transition: -webkit-transform 2500ms ease;
  transition: transform 2500ms ease;
  transition: transform 2500ms ease, -webkit-transform 2500ms ease;
}

.ring:before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #ff6b08;
  border-right: 3px solid #ff6b08;
  border-radius: 50%;
  -webkit-animation: animateCircle 2s linear infinite;
          animation: animateCircle 2s linear infinite;
}

.spinner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animateDot 2s linear infinite;
          animation: animateDot 2s linear infinite;
}

.spinner:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff6b08;
  top: -6px;
  right: -8px;
  -webkit-box-shadow: 0 0 20px #fff000;
          box-shadow: 0 0 20px #fff000;
}

@-webkit-keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animateDot {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes animateDot {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

.scrollBtn {
  opacity: 0;
  cursor: pointer;
  width: 100px;
  height: 100px;
  bottom: 210px;
  right: 100px;
  position: fixed;
  z-index: 100;
  background-image: url("/src/images/svg/up-arrow.svg");
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 320px) {
  .scrollBtn {
    right: 10px;
    width: 45px;
    height: 45px;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .scrollBtn {
    bottom: 160px;
  }
}

@media (min-width: 768px) {
  .scrollBtn {
    right: 70px;
    width: 60px;
    height: 60px;
    bottom: 130px;
  }
}

@media (min-width: 1280px) {
  .scrollBtn {
    right: 100px;
    width: 80px;
    height: 80px;
  }
}

.scrollBtn:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.showBtn {
  opacity: 0.8;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.uppBtn {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 26px;
  /* Location of the box */
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .modal {
    padding-top: 219px;
    /* Location of the box */
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 253px;
  }
}

@media screen and (min-width: 1280px) {
  .modal {
    padding: 150px;
    /* Location of the box */
    padding-left: 237px;
    padding-right: 237px;
    padding-bottom: 60px;
  }
}

.modal-film {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 46px;
  width: 280px;
}

@media screen and (min-width: 768px) {
  .modal-film {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 704px;
    display: flex;
    padding-left: 36px;
    padding-right: 72px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film {
    width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*   Второй вариант */
.modal-film_poster {
  position: relative;
  width: 240px;
  height: 357px;
  border-radius: 5px;
  background-color: #adbbb1;
}

@media screen and (min-width: 768px) {
  .modal-film_poster {
    height: 373px;
    width: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film_poster {
    height: 478px;
    width: 335px;
  }
}

/*     .modal-film_poster {
      position: relative;
      width: 240px;
      height: 357px;
      border-radius: 5px;
  
      @media screen and(min-width: 768px) {
        height: 373px;
        width: 264px;
      }
  
      @media screen and(min-width: 1280px) {
        height: 478px;
        width: 375px;
      }
    } */
/*         .movie-card-img {
          display: block;
          width: auto;
          margin-right: auto;
          margin-left: auto;
          height: 100%;
          object-fit: center;
          border-radius: 5px;
        }
 */
/*  Таня стили */
.trailer-button {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(222, 217, 217, 0.5);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .trailer-button {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.trailer-button:hover .film-svg_path {
  fill: #ff6b01;
}

/*   Второй вариант */
.movie-card-img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.modal-film_info {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-film_info {
    margin-left: 68px;
    margin-top: 0;
    max-width: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film_info {
    margin-left: 16px;
    margin-top: 0;
    max-width: 396px;
  }
}

.modal-film_info-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.15;
  text-align: left;
}

@media screen and (min-width: 1280px) {
  .modal-film_info-titel {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 1.16;
    text-align: left;
  }
}

#myBtn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
          box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

#myBtn :focus:not(:focus-visible):not(.focus-visible) {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

#myBtn :hover {
  background-color: #2c974b;
}

#myBtn :focus {
  -webkit-box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
          box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

#myBtn :disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

#myBtn :active {
  background-color: #298e46;
  -webkit-box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
          box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.modal-film_list-wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-film_name {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  text-align: left;
  color: #8C8C8C;
  letter-spacing: 0.04em;
  width: 100px;
  padding-top: 8px;
}

.modal-film_parameter {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  text-align: left;
  color: #000000;
  letter-spacing: 0px;
  width: 200px;
}

#modal_rating-grey {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #eeecec;
  border-radius: 5px;
  width: 36px;
  height: 16px;
}

#modal_rating-orange {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 46px;
  height: 16px;
  background: #FF6B01;
  color: #FFFFFF;
  border-radius: 5px;
}

.about {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  text-align: left;
}

.modal-film_info-about {
  width: 240px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-film_info-about {
    width: 264px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film_info-about {
    width: 391px;
  }
}

.modal-film_button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .modal-film_button-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film_button-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.modal-film_button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.33;
  text-align: center;
  padding: 0;
  letter-spacing: 0px;
  width: 110px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-film_button:hover {
  background: #FF6B01;
  border-radius: 5px;
  border: #FF6B01;
  color: #FFFFFF;
}

.modal-film_button:active {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

@media screen and (min-width: 768px) {
  .modal-film_button {
    width: 125px;
  }
  .modal-film_button:not(:first-child) {
    margin-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-film_button {
    width: 136px;
  }
  .modal-film_button:not(:first-child) {
    margin-left: 15px;
  }
}

.modal-film_active-btn {
  padding-left: 10px;
  padding-right: 10px;
  background: #FF6B01;
  border-radius: 5px;
  border: #FF6B01;
  color: #FFFFFF;
}

.modal-film_info-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  margin-top: 8px;
}

.modal-film_button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  /* 
      @media (max-width: 767px) {
        width: 20px;
        height: 20px;
      } */
  /*  display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;


    &:hover {
      .icon-close{
        stroke: #FF6B01;
        height: 35px;
        width: 35px;
      }
    }

    &:active {
      transform: scale(.90) translateY(2px);;
    } */
}

.modal-film_button-close:hover .icon-close {
  stroke: #FF6B01;
  height: 35px;
  width: 35px;
}

.modal-film_button-close:active {
  -webkit-transform: scale(0.9) translateY(2px);
          transform: scale(0.9) translateY(2px);
}

.close-svg:hover {
  stroke: #FF6B01;
}

.play {
  background: red;
  border-radius: 50% / 10%;
  color: #FFFFFF;
  font-size: 2em;
  /* change this to change size */
  height: 3em;
  margin: 20px auto;
  padding: 0;
  position: relative;
  text-align: center;
  text-indent: 0.1em;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  width: 4em;
}

.play:hover {
  background: darkorange;
}

.play::before {
  background: inherit;
  border-radius: 5% / 50%;
  bottom: 9%;
  content: "";
  left: -5%;
  position: absolute;
  right: -5%;
  top: 9%;
}

.play::after {
  border-style: solid;
  border-width: 1em 0 1em 1.732em;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.75);
  content: ' ';
  font-size: 0.75em;
  height: 0;
  margin: -1em 0 0 -0.75em;
  top: 50%;
  position: absolute;
  width: 0;
}

.empty-my-library {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .empty-my-library {
    width: 626px;
  }
}

.title-empty-my-library {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
}

@media (max-width: 767px) {
  .title-empty-my-library {
    font-size: 14px;
  }
}

#myModalTrailer {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  z-index: 1000;
}

/* Modal Content/Box */
.modal-content_treiler {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*   Андрея стили 
.trailer-button{
    display: flex;
    width: 60px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background: rgb(222, 217, 217);
    border-radius: 10px;
    border: none;

    &:hover{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transform:translateY(2px);
      background: rgb(222, 217, 217);
      .film-svg_path{
        fill: orange;
      }

      &:active{
        transform: scale(.98);
        transform:translateY(2px);
      }
    }
    
  } */
/*# sourceMappingURL=index.css.map */