:root {
  --header-text-color: #ffffff;
  --bg-color: #ffffff;
  --hero-primary-text-color: #000000;
  --hero-warning-text-color: #ff001b;
  --hero-underline-color: #ff6b08;
  --hero-secondary-text-color: #ff6b08;
  --hero-primary-button-color: #ff6b08;
  --hero-secondary-button-color: #f7f7f7;
  --footer-primary-text-color: #545454;
  --modal-button-color: #ff6b01;
  --modal-secondary-text-color: #8c8c8c;
  --search-switcher-active-color: #ff6b08;

  --lt-theme-bg-color: #ffffff;
  --dk-theme-bg-color: #000000e6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

$header-text-color: #ffffff;
$hero-primary-text-color: #000000;
$hero-warning-text-color: #ff001b;
$hero-underline-color: #ff6b08;
$hero-secondary-text-color: #ff6b08;
$hero-primary-button-color: #ff6b08;
$hero-secondary-button-color: #f7f7f7;
$footer-primary-text-color: #545454;
$modal-button-color: #ff6b01;
$modal-secondary-text-color: #8c8c8c;
