$header-text-color: #FFFFFF;
$hero-primary-text-color: #000000;
$hero-warning-text-color: #FF001B;
$hero-underline-color: #FF6B08;
$hero-secondary-text-color: #FF6B08;
$hero-primary-button-color: #FF6B08;
$hero-secondary-button-color: #F7F7F7;
$footer-primary-text-color: #545454;
$modal-button-color: #FF6B01;
$modal-secondary-text-color: #8C8C8C
