<!-- <a href class="modal-auth__btn-open"></a> -->

  <div id="openModal-auth" class="modal-auth">
  <div class="modal-auth__login-box">
    <h2 class="modal-auth__title">Login</h2>
    <a href title="close-auth" class="modal-auth__close">×</a>
    <form name="modal-auth" class="modal-auth__form">
      <div class="modal-auth__email">
        <input type="email" name="email" class="modal-auth__input-email" autocomplete="off">
        <label class="modal-auth__label-email">Email</label>
      </div>
      <div class="modal-auth__password">
        <input type="password" name="password" class="modal-auth__input-password" autocomplete="off">
        <label class="modal-auth__label-password">Password</label>
      </div>
      <a href="" class="modal-auth__forgot">Forgot password?</a>    
      <button type="submit" class="modal-auth__btn modal-auth__btn--login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button> 
      <button type="button" class="modal-auth__btn modal-auth__btn--logout">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Logout
      </button>
      <button type="button" class="modal-auth__btn modal-auth__btn--reset is-hidden-auth">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Reset password
      </button>
      <button type="button" class="modal-auth__btn modal-auth__btn--back is-hidden-auth">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Back
      </button>   
  </form>
  <p class="modal-auth__info">For signup or login your account - just enter your email and password</p>
  
  </div>
  </div>