<div class="backdrop is-hidden">
    <div class="team__modal">
        <h3 class="team__title">Development Team</h3>
    <ul class="team__items">
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Andrey.jpeg" alt="Andrii Herzhov" weight="80px" height="80px">
            <div class="flex"><h3 class="team__member">Andrii Herzhov</h3>
            <a class="sociallinks__icon" href="https://github.com/AndreyHerzhov" target="_blank" aria-label="Github">
                <svg height="20" width="20">
                    <use href="/src/images/svg/sprite.svg#github"></use>
                </svg>
            </a></div>
            <p class="team__position">Team lead, Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Tatyana.jpeg" weight="80" height="80px">
           <div class="flex"><h3 class="team__member">Tatyana Strelkova</h3>
        <a class="sociallinks__icon" href="https://github.com/TatyanaStrelkova" target="_blank" aria-label="Github">
            <svg height="20" width="20">
                <use href="/src/images/svg/sprite.svg#github"></use>
            </svg>
        </a></div>
            <p class="team__position">Scrum master, Frontent developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Ihor.jpeg" weight="80" height="80px">
            <div class="flex"><h3 class="team__member">Ihor Rymar</h3>
            <a class="sociallinks__icon" href="https://github.com/IhorRymar" target="_blank" aria-label="Github">
                <svg height="20" width="20">
                    <use href="/src/images/svg/sprite.svg#github"></use>
                </svg>
            </a></div>
            <p class="team__position">Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Ivan.jpg" weight="80" height="80px">
            <div class="flex"><h3 class="team__member">Ivan Zabolotniy</h3>
            <a class="sociallinks__icon" href="https://github.com/Mustadonte" target="_blank" aria-label="Github">
                <svg height="20" width="20">
                    <use href="/src/images/svg/sprite.svg#github"></use>
                </svg>
            </a></div>
            <p class="team__position">Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Serhii_Zhur.jpeg" weight="80" height="80px">
           <div class="flex"><h3 class="team__member">Sergey Zhuravlov</h3><a class="sociallinks__icon" href="https://github.com/SergeZed" target="_blank" aria-label="Github">
            <svg height="20" width="20">
                <use href="/src/images/svg/sprite.svg#github"></use>
            </svg>
        </a></div>
            <p class="team__position">Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Serhii_Fil.jpeg" weight="80" height="80px">
           <div class="flex"><h3 class="team__member">Sergey Filonovych</h3>
        <a class="sociallinks__icon" href="https://github.com/serj-nobody" target="_blank" aria-label="Github">
            <svg height="20" width="20">
                <use href="/src/images/svg/sprite.svg#github"></use>
            </svg>
        </a></div>
            <p class="team__position">Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Vadim.jpeg" weight="80" height="80px">
            <div class="flex"><h3 class="team__member">Vadym Storchovyi</h3>
            <a class="sociallinks__icon" href="https://github.com/nestakiev" target="_blank" aria-label="Github">
                <svg height="20" width="20">
                    <use href="/src/images/svg/sprite.svg#github"></use>
                </svg>
            </a></div>
            <p class="team__position">Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/Vasilii.jpg" weight="80 px" height="80px">
            <div class="flex"><h3 class="team__member">Vasiliy Movchan</h3>
            <a class="sociallinks__icon" href="https://github.com/vasia-movchan" target="_blank" aria-label="Github">
                <svg height="20" width="20">
                    <use href="/src/images/svg/sprite.svg#github"></use>
                </svg>
            </a></div>
            <p class="team__position">Frontend developer</p>
        </li>
        <li class="team__item">
            <img class="team__card" src="/src/images/modal-team/zcu.webp" weight="80 px" height="80px">
            <div class="flex"><h3 class="team__member">Ukraine's Armed Forces</h3>
            <a class="sociallinks__icon" href="https://savelife.in.ua/donate/" target="_blank" aria-label="Github">
                <svg height="20" width="20">
                    <use href="/src/images/svg/sprite.svg#trident"></use>
                </svg>
            </a></div>
            <p class="team__position">Full-stack defenders</p>
        </li>
    </ul>
        <button class="button" data-close-modal>
            <svg class="icon">
                <use href="/src/images/svg/sprite.svg#close"></use>
            </svg>
        </button>
    </div>
</div>

