// ========== SWITCHER ========== //

body.lt-theme {
  background-color: var(--lt-theme-bg-color);
  color: var(--dk-theme-bg-color);
}

body.dk-theme {
  background-color: var(--dk-theme-bg-color);
  color: var(--lt-theme-bg-color);
}

.switcher {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  right: 10px;
  top: 200px;

  @include tab {
    right: 25px;
    top: 170px;
  }
}

body.dk-theme {
  .footer {
    background-color: var(--footer-primary-text-color);
    color: var(--lt-theme-bg-color);
  }
  .footer__link {
    background-color: var(--footer-primary-text-color);
    color: rgb(255, 145, 0);

    &:hover {
      font-weight: bold;
    }
  }

  .modal-film {
    background-color: var(--dk-theme-bg-color);
    color: var(--lt-theme-bg-color);
  }

  .icon-close {
    stroke: var(--lt-theme-bg-color);
  }

  .modal-film_parameter {
    color: var(--lt-theme-bg-color);
  }

  #modal_rating-grey {
    color: var(--hero-secondary-text-color);
  }

  // .modal-film_button {
  //   border: var(--lt-theme-bg-color);
  // }

  .team__modal {
    background-color: #a7a7a78a;
    color: var(--lt-theme-bg-color);
  }

  .team__item {
    background-color: #000000;
    color: var(--lt-theme-bg-color);
    border: 1px solid var(--bg-color);
  }

  .sociallinks__icon {
    fill: #ffffff;
  }

    .sociallinks__icon:hover,
    .sociallinks__icon:focus {
      fill: $modal-button-color;
    }

  .team__position {
    color: var(--header-text-color);
  }

  .icon {
    fill: var(--lt-theme-bg-color);
  }

  .movie-card__title {
    color: var(--bg-color);
  }

  .pagination__prev-btn,
  .pagination__next-btn {
    background-color: #a7a7a78a;
    color: var(--bg-color);

    &:hover {
      background-color: #ff6b08;
    }
  }

  .js-scrollBtn {
    background-color: transparent;
    color: var(--hero-primary-button-color);
    &:hover {
      background-color: transparent;
      color: var(--bg-color);
    }
  }
}

.th-switch {
  display: flex;
  align-items: center;
}

.th-switch__icon {
  color: currentColor;
  height: 20px;
  width: 15px;
  margin-right: 8px;
  margin-left: 8px;
}

.th-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 49px;
  height: 15px;
  border-radius: 50em;
  padding: 3px 0;
}

.th-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.th-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: var(--bg-color);
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.th-switch__marker {
  position: relative;
  background-color: var(--hero-warning-text-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 0.5s;
}

.th-switch__toggle:checked ~ .th-switch__marker {
  transform: translateX(35px);
  transition: 0.5s;
}
